In [35]:
#import the relevant libraries and packages 
import numpy as np
import pandas as pd
import json
from pandas.io.json import json_normalize

Uploading the File
#Define the path of the file

In [36]:
sample_json_df = pd.read_json('Downloads/data_wrangling_json/data/world_bank_projects_less.json')
sample_json_df

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
0,{'$oid': '52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,"ET,BS,ES,EP",IBRD,Active,N,"{'Name': 'Education for all', 'Percent': 100}","[{'name': 'Education for all', 'code': '65'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,{'$oid': '52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,"BZ,BS",IBRD,Active,N,"{'Name': 'Other economic management', 'Percent...","[{'name': 'Other economic management', 'code':...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en

# Question 1: Find the 10 countries with most projects

In [37]:
#opening the JSON file in "read-only" mode using a context manager
# Use the path to open the file
# One can also define the path as a variable and then use it here
with open('Downloads/data_wrangling_json/data/world_bank_projects.json', 'r') as json_file:
    wb_json_data = json.load(json_file)
    
# General QC 
#checking to see the structure of the loaded World Bank data
print(type(wb_json_data))

##### This is a list. Next we should enquire the number of items in the list 

print(len(wb_json_data))

#### A total of 500 item are there in the list 
### Lets try to find out what is the content 
print (type (wb_json_data[0]))

#### The data type is dictionary 
## Dictionary have keys and values 

print (wb_json_data[0].keys())

#as a result, our object is a list of 500 projects with the below dictionary keys

<class 'list'>
500
<class 'dict'>
dict_keys(['sector', 'supplementprojectflg', 'projectfinancialtype', 'prodline', 'mjtheme', 'idacommamt', 'impagency', 'project_name', 'mjthemecode', 'closingdate', 'totalcommamt', 'id', 'mjsector_namecode', 'docty', 'sector1', 'lendinginstr', 'countrycode', 'sector2', 'totalamt', 'mjtheme_namecode', 'boardapprovaldate', 'countryshortname', 'sector4', 'prodlinetext', 'productlinetype', 'regionname', 'status', 'country_namecode', 'envassesmentcategorycode', 'project_abstract', 'approvalfy', 'projectdocs', 'lendprojectcost', 'lendinginstrtype', 'theme1', 'grantamt', 'themecode', 'borrower', 'sectorcode', 'sector3', 'majorsector_percent', 'board_approval_month', 'theme_namecode', 'countryname', 'url', 'source', 'projectstatusdisplay', 'ibrdcommamt', 'sector_namecode', '_id'])

In [38]:
#### It would be nice, if we can see the data in a table format, which we can convert to a data frame later

# use normalization to create a table and examine the values
print(json_normalize(wb_json_data).head(10))

                   _id.$oid approvalfy board_approval_month  \
0  52b213b38594d8a2be17c780       1999             November
1  52b213b38594d8a2be17c781       2015             November
2  52b213b38594d8a2be17c782       2014             November
3  52b213b38594d8a2be17c783       2014              October
4  52b213b38594d8a2be17c784       2014              October
5  52b213b38594d8a2be17c785       2014              October
6  52b213b38594d8a2be17c786       2014              October
7  52b213b38594d8a2be17c787       2014              October
8  52b213b38594d8a2be17c788       2014              October
9  52b213b38594d8a2be17c789       2014              October

      boardapprovaldate                                 borrower  \
0  2013-11-12T00:00:00Z  FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA
1  2013-11-04T00:00:00Z                    GOVERNMENT OF TUNISIA
2  2013-11-01T00:00:00Z   MINISTRY OF FINANCE AND ECONOMIC DEVEL
3  2013-10-31T00:00:00Z   MIN. OF PLANNING AND INT'L COOPERATION
4  2013-10-31T00:00:00Z                      MINISTRY OF FINANCE
5  2013-10-31T00:00:00Z                        REPUBLIC OF KENYA
6  2013-10-29T00:00:00Z                      GOVERNMENT OF INDIA
7  2013-10-29T00:00:00Z               PEOPLE'S REPUBLIC OF CHINA
8  2013-10-29T00:00:00Z                  THE GOVERNMENT OF INDIA
9  2013-10-29T00:00:00Z                   THE KINGDOM OF MOROCCO

            closingdate                              country_namecode  \
0  2018-07-07T00:00:00Z  Federal Democratic Republic of Ethiopia!$!ET
1                   NaN                      Republic of Tunisia!$!TN
2                   NaN                                   Tuvalu!$!TV
3                   NaN                        Republic of Yemen!$!RY
4  2019-04-30T00:00:00Z                       Kingdom of Lesotho!$!LS
5                   NaN                        Republic of Kenya!$!KE
6  2019-06-30T00:00:00Z                        Republic of India!$!IN
7                   NaN               People's Republic of China!$!CN
8  2018-12-31T00:00:00Z                        Republic of India!$!IN
9  2014-12-31T00:00:00Z                       Kingdom of Morocco!$!MA

  countrycode                              countryname    countryshortname  \
0          ET  Federal Democratic Republic of Ethiopia            Ethiopia
1          TN                      Republic of Tunisia             Tunisia
2          TV                                   Tuvalu              Tuvalu
3          RY                        Republic of Yemen  Yemen, Republic of
4          LS                       Kingdom of Lesotho             Lesotho
5          KE                        Republic of Kenya               Kenya
6          IN                        Republic of India               India
7          CN               People's Republic of China               China
8          IN                        Republic of India               India
9          MA                       Kingdom of Morocco             Morocco

   ... source  status  supplementprojectflg  \
0  ...   IBRD  Active                     N
1  ...   IBRD  Active                     N
2  ...   IBRD  Active                     Y
3  ...   IBRD  Active                     N
4  ...   IBRD  Active                     N
5  ...   IBRD  Active                     Y
6  ...   IBRD  Active                     N
7  ...   IBRD  Active                     N
8  ...   IBRD  Active                     N
9  ...   IBRD  Active                     N

                               theme1.Name theme1.Percent  \
0                        Education for all            100
1                Other economic management             30
2                     Regional integration             46
3       Participation and civic engagement             50
4   Export development and competitiveness             30
5                       Social safety nets            100
6  Administrative and civil service reform             20
7                           Climate change            100
8                  Other rural development             87
9     Other accountability/anti-corruption             33

                                      theme_namecode    themecode   totalamt  \
0      [{'code': '65', 'name': 'Education for all'}]           65  130000000
1  [{'code': '24', 'name': 'Other economic manage...        54,24          0
2  [{'code': '47', 'name': 'Regional integration'...  52,81,25,47    6060000
3  [{'code': '57', 'name': 'Participation and civ...        59,57          0
4  [{'code': '45', 'name': 'Export development an...        41,45   13100000
5     [{'code': '54', 'name': 'Social safety nets'}]           54   10000000
6  [{'code': '25', 'name': 'Administrative and ci...        39,25  500000000
7         [{'code': '81', 'name': 'Climate change'}]           81          0
8  [{'code': '79', 'name': 'Other rural developme...           79  160000000
9  [{'code': '29', 'name': 'Other accountability/...     27,30,29  200000000

  totalcommamt                                                url
0    130000000  http://www.worldbank.org/projects/P129828/ethi...
1      4700000  http://www.worldbank.org/projects/P144674?lang=en
2      6060000  http://www.worldbank.org/projects/P145310?lang=en
3      1500000  http://www.worldbank.org/projects/P144665?lang=en
4     13100000  http://www.worldbank.org/projects/P144933/seco...
5     10000000  http://www.worldbank.org/projects/P146161?lang=en
6    500000000  http://www.worldbank.org/projects/P121185/firs...
7     27280000  http://www.worldbank.org/projects/P127033/chin...
8    160000000  http://www.worldbank.org/projects/P130164/raja...
9    200000000  http://www.worldbank.org/projects/P130903?lang=en

[10 rows x 55 columns]

In [39]:
## It is always good to know about the varaibles and dtype, so that you have an idea what is max number of entries
## and how many missing values are missing in which variable
print(json_normalize(wb_json_data).info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 55 columns):
_id.$oid                    500 non-null object
approvalfy                  500 non-null object
board_approval_month        500 non-null object
boardapprovaldate           500 non-null object
borrower                    485 non-null object
closingdate                 370 non-null object
country_namecode            500 non-null object
countrycode                 500 non-null object
countryname                 500 non-null object
countryshortname            500 non-null object
docty                       446 non-null object
envassesmentcategorycode    430 non-null object
grantamt                    500 non-null int64
ibrdcommamt                 500 non-null int64
id                          500 non-null object
idacommamt                  500 non-null int64
impagency                   472 non-null object
lendinginstr                495 non-null object
lendinginstrtype            495 non-null object
lendprojectcost             500 non-null int64
majorsector_percent         500 non-null object
mjsector_namecode           500 non-null object
mjtheme                     491 non-null object
mjtheme_namecode            500 non-null object
mjthemecode                 500 non-null object
prodline                    500 non-null object
prodlinetext                500 non-null object
productlinetype             500 non-null object
project_abstract.cdata      362 non-null object
project_name                500 non-null object
projectdocs                 446 non-null object
projectfinancialtype        500 non-null object
projectstatusdisplay        500 non-null object
regionname                  500 non-null object
sector                      500 non-null object
sector1.Name                500 non-null object
sector1.Percent             500 non-null int64
sector2.Name                380 non-null object
sector2.Percent             380 non-null float64
sector3.Name                265 non-null object
sector3.Percent             265 non-null float64
sector4.Name                174 non-null object
sector4.Percent             174 non-null float64
sector_namecode             500 non-null object
sectorcode                  500 non-null object
source                      500 non-null object
status                      500 non-null object
supplementprojectflg        498 non-null object
theme1.Name                 500 non-null object
theme1.Percent              500 non-null int64
theme_namecode              491 non-null object
themecode                   491 non-null object
totalamt                    500 non-null int64
totalcommamt                500 non-null int64
url                         500 non-null object
dtypes: float64(3), int64(8), object(44)
memory usage: 214.9+ KB
None

In [40]:
# Question 1 - 10 countries which have max number of projects
# SO first we will make sure that there is no missing values in the country or #related column like country code, 
#country short name.
# Looking at the information above all the variables with country have no #missing values as there are 
# a total of 500 obseravations

In [41]:
#As stated above, we have to now convert this data to panda dataFrame.
# pandas has already imported as pd
#convert JSON data into DataFrame
wb_json_df = pd.read_json('Downloads/data_wrangling_json/data/world_bank_projects.json')

#count the instances of each 'countryshortname' value
wb_json_country_count = wb_json_df['countryshortname'].value_counts()

# Printing head will give the top 5 by defaul, so we have to chnage that to .head(10)
print(wb_json_country_count.head(10))

Indonesia             19
China                 19
Vietnam               17
India                 16
Yemen, Republic of    13
Bangladesh            12
Nepal                 12
Morocco               12
Africa                11
Mozambique            11
Name: countryshortname, dtype: int64

#Other Method can be using "GroupBY"

In [42]:
top_10_countries = wb_json_df.groupby('country_namecode')['country_namecode'].count().sort_values(ascending=False)
top_10_countries.head(10)

country_namecode
People's Republic of China!$!CN         19
Republic of Indonesia!$!ID              19
Socialist Republic of Vietnam!$!VN      17
Republic of India!$!IN                  16
Republic of Yemen!$!RY                  13
Nepal!$!NP                              12
People's Republic of Bangladesh!$!BD    12
Kingdom of Morocco!$!MA                 12
Africa!$!3A                             11
Republic of Mozambique!$!MZ             11
Name: country_namecode, dtype: int64

# Question 2 and 3 - Find the top 10 major project themes (using column 'mjtheme_namecode')

In [43]:
#create series on column 'mjtheme_namecode'
wb_json_theme_df = wb_json_df['mjtheme_namecode']
print(wb_json_theme_df.shape)

#checking number of NaN values
print(wb_json_theme_df.dropna().shape)

#all rows appear to have data.  However, as per prompt, some values are missing

(500,)
(500,)

In [44]:
print(type(wb_json_theme_df[0]))

<class 'list'>

In [45]:
wb_json_theme_df[0]

[{'code': '8', 'name': 'Human development'}, {'code': '11', 'name': ''}]

In [46]:
#Load data one more time 
#this time named it as Data -  as panda DataFrame 
Data = json.load(open('Downloads/data_wrangling_json/data/world_bank_projects.json'))
projects_df = json_normalize(data=Data, record_path='mjtheme_namecode', errors='ignore')

In [47]:
#Create a key df of unique codes and names
key = projects_df.drop_duplicates()
key = key.loc[key['name'] != '']
#Set code as index
key.set_index('code',inplace=True)
#Map the key names to the Projects DF
projects_df['name']=projects_df['code'].map(key['name'])
# Group by project name and aggregate by count
top_projects = projects_df.groupby(['code','name'])['name'].count().sort_values(ascending=False)
top_projects.head(10)

code  name
11    Environment and natural resources management    250
10    Rural development                               216
8     Human development                               210
2     Public sector governance                        199
6     Social protection and risk management           168
4     Financial and private sector development        146
7     Social dev/gender/inclusion                     130
5     Trade and integration                            77
9     Urban development                                50
1     Economic management                              38
Name: name, dtype: int64